<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Tunomics about our mission and any issues or concerns at the 
  <%# Update Link%>
  <a href="http://tunomics.com/contact">contact page</a>.
</p>